<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
			<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
			<link href="/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
			<link href="/css/bootstrap-social.css" rel="stylesheet" type="text/css" />
			<link href="/css/theme.css" rel="stylesheet" type="text/css" />
			<script src="/js/npm.js"></script>
			<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootlint/0.14.2/bootlint.min.js"></script>
		</head>
		<body>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<div style="float: left;">
							<a href="#"><img alt="" src="https://s.gravatar.com/avatar/c0957456af334d1616b915d585dd7565?s=48" class="img-circle"> </a>
						</div>
						<a class="navbar-brand" href="#">&nbsp; Peter Cashel</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<!-- <li><a href="/cv/Resume.pdf">Resume</a></li>  -->
						<li><a href="/blog">Blog</a></li>
					</ul>
				</div>
			</nav>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<br/>
			<footer>
				<p>Copyright © Peter Cashel - {{ site.time | date: '%Y' }} </p>
				<br/>
				<a href="mailto:pacas00@petercashel.net" class="btn btn-lg btn-primary">
					<span class="glyphicon glyphicon-envelope"></span>
				</a>
				<a class="btn btn-social-icon btn-github btn-lg" href="https://github.com/pacas00">
					<span class="fa fa-github"></span>
				</a>
				
	    		<a class="btn btn-social-icon btn-twitter btn-lg" href="https://twitter.com/pacas00">
					<span class="fa fa-twitter"></span>
				</a>				
			</footer>
		</body>
	</html>
