---
layout: default
---
                        <tr style="width: 100%;">
                            <td style="width: 100%;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div style="float: right;">
                                            
                                        </div>
                                        <h1 style="padding: 1px; margin: 1px;" class="BlogHead"> {{ page.title }} </h1>
                                    </div>
                                    <div class="panel-body">
                                        <div id="blbodythumb" style="text-align: justify;">
                                            <p>
                                                {{ content }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="post_meta">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
                                                {{ page.date | date: "%-d %B %Y" }}
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>